body{
    background:  #AA556E;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

.game {
    background-color: transparent;
    width: 600px;
    height: 602px;
    margin: 100px auto;
}

.game-field {
    width: 140px;
    height: 140px;
    display: block;
   float: left;
    color: #999999;
    font-size: 6.3em;
    padding: 1px 27px;
    cursor: pointer;
    text-align: center;
}


#first, #second, #third {
    border-bottom: 3px solid #355749;
}

#second {
    border-left: 3px solid #355749;
    border-right: 3px solid #355749;

}

#fourth, #fifth, #sixth {
    border-bottom: 3px solid #355749;
}

#fifth {
    border-left: 3px solid #355749;
    border-right: 3px solid #355749;
}
#eight {
    border-left: 3px solid #355749;
    border-right: 3px solid #355749;
}
endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205,133,63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}
#o{
    width: 50px;
    hight: 20 px;
    margin-left: 50%;
    margin-right: auto;
}